@mixin display-center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@mixin text-styling($param1, $param2){
    color:rgb(108, 155, 155);
    font-size: 1.2rem + $fs-2; /*Operator  + * - / */
    text-transform: $param1;
    letter-spacing: $param2;
}